html,body {
	margin: 0;
	height: 100%;
	color: #383838;
	-webkit-tap-highlight-color:transparent;
}
a,a:hover,a:active,a:link {
	text-decoration: none;
	color: #383838;
	outline:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
p {
	margin: 0 auto;
}
.d_flex {
	display: -webkit-flex; /* Safari */
	display: flex;
}

// header
header {
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 999;
	top: 0;
	height: .8rem;
	width: 100%;
	background: #fff;
	.icon-back {
		position: absolute;
		padding: .1rem;
		background: transparent;
		left: .3rem;
		top: .3rem;
		border: .04rem solid #666;
		border-top: transparent;
		border-right: transparent;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	.title {
		font-size: .35rem;
	}
}

// content
#content {
	width: 100%;
	margin-top: .8rem;
	.content_top {
		flex-wrap: wrap;
		width: 100%;
	}
	.c_w_img {
		width: 100%;
		height: 2.56rem;
	}
	.c_w_img img {
		width: 100%;
		height: 100%;
	}
	.c_w_intro {
		width: 100%;
		height: auto;
		font-size: .2rem;
		line-height: .35rem;
		text-align: center;
		padding: .25rem;
	}
	.content_pro_intro {
		background: #EFF4F7;
		flex-direction: column;
		align-items: center;
		.pro_intro_func {
			width: 90%;
			div {
				width: 25%;
				flex-direction: column;
				align-items: center;
			}
			span {
				padding: .15rem 0;
				margin-bottom: .2rem;
				font-size: .2rem;
			}
			.func {
				width: 1rem;
				height: 1rem;
				background-size: contain;
			}
			.func1 {
				background-image: url(../images/icons/func1.png);
			}
			.func2 {
				background-image: url(../images/icons/func2.png);
			}
			.func3 {
				background-image: url(../images/icons/func3.png);
			}
			.func4 {
				background-image: url(../images/icons/func4.png);
			}
		}
	}
	.content_serv_scope {
		flex-direction: column;
		align-items: center;
		.serv_scope_img {
			margin: 0 .1rem;
			img {
				width: 30%;
				margin: 0 .1rem;
			}
		}
	}
	.title {
		font-size: .3rem;
		padding: .15rem;
	}
	.title_en {
		font-size: .15rem;
		margin-bottom: .25rem;
	}
	.for_ipad {
		width: 100%;
		height: 1rem;
	}
}

// footer
footer {
	align-items: center;
	position: fixed;
	z-index: 999;
	bottom: 0;
	height: .65rem;
	width: 100%;
	background: #fff;
	font-size: .2rem;
	padding: .15rem 0;
	a {
		display: -webkit-flex; /* Safari */
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 33%;
		height: 100%;
		text-align: center;
		i {
			width: .35rem;
			height: .35rem;
			background-repeat: no-repeat;
			background-size: contain;
			margin-bottom: .05rem;
		}
		.icon-product {
			background-image: url(../images/icons/icon-product.png)
		}
		.icon-service {
			background-image: url(../images/icons/icon-service.png)
		}
		.icon-contact {
			background-image: url(../images/icons/icon-contact.png)
		}
	}
}

// ContactUS
#contact_us {
	margin-top: 1rem;
	flex-direction: column;
	align-items: center;
	font-size: .2rem;
	.initmate_service {
		margin-top: 1rem;
		position: relative;
		img {
			position: absolute;
			width: 1.25rem;
			height: 1.25rem;
			left: -.1rem;
			top: -.73rem;
		}
		span {
			flex-direction: column;
			align-items: center;
			background: #43B0FF;
			border: 1px solid #fff;
			outline: 5px solid #43B0FF;
			width: 3.5rem;
			height: 1.2rem;
			font-size: .28rem;
			text-align: center;
			color: #fff;
			p {
				margin: .12rem auto;
			}
		}
	}
	.feedback {
		margin: .6rem 0;
	}
	.black_c {
		width: 4rem;
		line-height: .35rem;
		text-align: center;
	}
	.phone_num {
		margin-bottom: .6rem;
		.num {
			text-align: center;
			font-size: .4rem;
			color: #EA8A58;
		}
	}
	.qrcode {
		text-align: center;
	}
}

// ApplyServ
#service {
	margin-top: 1rem;
	flex-direction: column;
	align-items: center;
	font-size: .25rem;
	>div {
		background: #fff;
		width: 100%;
		margin: .15rem;
	}
	.back_color {
		text-align: right;
		background: #F1F1F1;
		padding: .15rem .4rem;
		color: #979797;
	}
	.s_card{
		height: .8rem;
		>div {
			display: -webkit-flex;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50%;
		}
		i {
			width: .35rem;
			height: .35rem;
			background-repeat: no-repeat;
			background-size: contain;
			margin: 0 .15rem;
		}
		.active {
			background: #42B1FF;
			color: #fff;
			.icon-service4 {
				background-image: url(../images/icons/icon-service4-white.png);
			}
			.icon-service5 {
				background-image: url(../images/icons/icon-service5-white.png);
			}
		}
	}
	.amount {
		.amount_range {
			align-items: center;
			width: 100%;
			height: .6rem;
			input {
				width: .8rem;
				outline: none;
				padding: .1rem;
				border: none;
				background: #F5F5F5;
				text-align: center;
			}
			>span {
				width: 50%;
				padding: 0 .7rem;
				text-align: left;
			}
			.range {
				padding: 0 .2rem 0 0;
				align-items: center;
				justify-content: flex-end;
				span {
					display: flex;
					width: .1rem;
					height: 1px;
					background: black;
					margin: 0 .15rem;
				}
			}
		}
	}
	.num_choice {
		.num_count {
			align-items: center;
			width: 100%;
			height: .6rem;
			input {
				width: .8rem;
				outline: none;
				padding: .1rem;
				border: none;
				background: #F5F5F5;
				text-align: center;
			}
			>span {
				width: 50%;
				padding: 0 .7rem;
				text-align: left;
			}
			.count {
				padding: 0 .2rem 0 0;
				align-items: center;
				justify-content: flex-end;
				text-align: right;
				span {
					display: inline-block;
					position: relative;
					top: -.05rem;
					width: .5rem;
					height: .5rem;
					b {
						display: flex;
						width: .15rem;
						height: 1px;
						background: black;
						margin: 0 .15rem;
					}
					i {
						display: flex;
						position: relative;
						top: -1px;
						width: .15rem;
						height: 1px;
						background: black;
						margin: 0 .15rem;
						-webkit-transform: rotate(90deg);
						   -moz-transform: rotate(90deg);
						    -ms-transform: rotate(90deg);
						     -o-transform: rotate(90deg);
						        transform: rotate(90deg);
					}
				}
			}
		}
	}
}

.s_title {
	display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #eee;
	position: relative;
	align-items: center;
	width: 100%;
	height: .8rem;
	margin-bottom: .2rem;
	input {
		position: absolute;
		right: .25rem;
		top: .25rem;
		outline: none;
	}
	i {
		width: .4rem;
		height: .4rem;
		background-repeat: no-repeat;
		background-size: contain;
		margin: 0 .15rem;
	}
}
.icon-service1 {
	background-image: url(../images/icons/icon-service1.png);
}
.icon-service2 {
	background-image: url(../images/icons/icon-service2.png);
}
.icon-service3 {
	background-image: url(../images/icons/icon-service3.png);
}
.icon-service4 {
	background-image: url(../images/icons/icon-service4.png);
}
.icon-service5 {
	background-image: url(../images/icons/icon-service5.png);
}
.icon-service6 {
	background-image: url(../images/icons/icon-service6.png);
}

#sub_footer {
	align-items: center;
	position: fixed;
	z-index: 999;
	bottom: 0;
	height: .65rem;
	width: 100%;
	background: #fff;
	font-size: .2rem;
	.sum_price,.pay {
		height: .65rem;
		align-items: center;
	}
	.sum_price {
		width: 65%;
		justify-content: flex-end;
		padding: .25rem;
		.price {
			color: #FF5E45;
		}
	}
	.pay {
		width: 35%;
		background: #FF5E45;
		a {
			display: block;
			width: 100%;
			height: 100%;
			line-height: .65rem;
			color: #fff;
			text-align: center;
		}
	}
}


// OfflineServ
#offline_serv {
	margin-top: 1.2rem;
	flex-direction: column;
	align-items: center;
	font-size: .25rem;
	>div {
		background: #fff;
		width: 100%;
		margin: .2rem 0;
	}
	.template {
		.template_list {
			align-items: center;
			justify-content: space-around;
			span {
				width: 45%;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				img {
					width: 100%;
					height: 100%;
				}
				i {
					width: .4rem;
					height: .4rem;
					background-repeat: no-repeat;
					background-size: contain;
					margin: .15rem 0;
				}
			}
			
		}
	}
	.info {
		.info_form {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0 .25rem .25rem .25rem;
			p {
				display: -webkit-flex;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				height: .8rem;
				span {
					display: inline-block;
					width: 25%;
				}
				input {
					width: 75%;
					height: .6rem;
					font-size: .25rem;
					border: none;
					outline: none;
				}
			}
		}
	}
	.submit_QRCode {
		width: 100%;
		a {
			height: .8rem;
			align-items: center;
			justify-content: center;
			i {
				width: .4rem;
				height: .4rem;
				background-repeat: no-repeat;
				background-size: contain;
				margin: 0 .15rem;
			}
		}
	}
	.next_step {
		width: 95%;
		height: .8rem;
		margin: .15rem;
		font-size: .3rem;
		color: #fff;
		line-height: .8rem;
		text-align: center;
		background: #41B0FF;
		border-radius: .15rem;
	}
}
.icon-offline1 {
	background-image: url(../images/icons/icon-offline1.png);
}
.icon-offline2 {
	background-image: url(../images/icons/icon-offline2.png);
}
.icon-offline3 {
	background-image: url(../images/icons/icon-offline3.png);
}
.icon-offline4 {
	background-image: url(../images/icons/icon-offline5.png);
}
.icon-offline5 {
	background-image: url(../images/icons/icon-offline4.png);
}

// OrderSuccess
#order_success {
	margin-top: 1rem;
	flex-direction: column;
	align-items: center;
	font-size: .25rem;
	>div {
		background: #fff;
		width: 100%;
		margin: .2rem 0;
	}
	.template_list {
		align-items: center;
		justify-content: space-around;
		margin-bottom: .25rem;
		span {
			width: 30%;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.info {
		.info_form {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0 .25rem .25rem .25rem;
			img {
				height: 2rem;
				width: 2rem;
				margin-right: .25rem;
			}
			p {
				display: -webkit-flex;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				height: .8rem;
				span {
					display: inline-block;
					width: 25%;
				}
				input {
					width: 75%;
					height: .6rem;
					font-size: .25rem;
					border: none;
					outline: none;
				}
				.send_time {
					width: 75%;
					height: .6rem;
					line-height: .65rem;
					font-size: .25rem;
				}
			}
			.copy_link {
				width: 60%;
				height: 1.7rem;
				padding: .15rem 0;
				p {
					width: 100%;
					margin: 0;
					height: .4rem;
					line-height: .4rem;
					overflow: hidden;
					align-items: flex-start;
				}
				p:last-child {
					font-size: .15rem;
					text-indent: .45rem;
					color: #666;
					height: 1.2rem;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3;
					overflow: hidden;
					text-overflow : ellipsis;
				}
			}
		}
	}
	.next_step {
		display: block;
		width: 90%;
		height: .6rem;
		margin: .15rem auto;
		font-size: .3rem;
		color: #fff;
		line-height: .6rem;
		text-align: center;
		background: #41B0FF;
		border-radius: .15rem;
	}
	.aux_msg {
		height: .6rem;
		line-height: .6rem;
		.aux_circle {
			display: inline-block;
			background: #666;
			padding: .08rem;
			border-radius: .08rem;
			margin: 0 .15rem;
		}
	}
}
.icon-order1 {
	background-image: url(../images/icons/icon-order1.png);
}
.icon-order2 {
	background-image: url(../images/icons/icon-order2.png);
}

// OrderState
#order_state {
	margin-top: 1rem;
	flex-direction: column;
	align-items: center;
	font-size: .25rem;
	>div {
		background: #fff;
		width: 100%;
		margin: .1rem 0;
	}
	.order_title {
		align-items: center;
		background: #41B0FF;
		color: #fff;
		width: 95%;
		height: .8rem;
		margin: .15rem 0 .05rem 0;
		border-radius: .1rem .1rem 0 0;
		div{
			width: 50%;
			text-align: center;
		}
	}
	.sub_title {
		align-items: center;
		background: #41B0FF;
		color: #fff;
		width: 95%;
		height: .6rem;
		border-radius: 0 0 .1rem .1rem;
		span {
			width: 33%;
			text-align: center;
			border-right: 1px solid #fff;
		}
		.final_one {
			border-right: none;
		}
	}
	.order_details {
		width: 95%;
		border-radius: .1rem;
		.info_form {
			flex-direction: column;
			p {
				display: -webkit-flex;
				display: flex;
				justify-content: center;
				width: 100%;
				height: .6rem;
				border-bottom: 1px solid #eee;
				span {
					width: 33%;
					text-align: center;
					line-height: .6rem;
				}
			}
		}
	}
	.next_step {
		width: 95%;
		height: .8rem;
		margin: .15rem;
		font-size: .3rem;
		color: #fff;
		line-height: .8rem;
		text-align: center;
		background: #41B0FF;
		border-radius: .15rem;
	}
	.page_num {
		width: 100%;
		justify-content: space-around;
		align-content: center;
		height: .8rem;
		font-size: .3rem;
		color: #fff;
		line-height: .8rem;
		text-align: center;
		vertical-align: middle;
		a {
			width: 45%;
			height: .6rem;
			color: #fff;
			line-height: .6rem;
			margin: .1rem 0;
			background: #41B0FF;
			border-radius: .15rem;
		}
	}
}

// OrderDetails
#order_details {
	margin-top: .85rem;
	flex-direction: column;
	align-items: center;
	font-size: .25rem;
	.details_title {
		width: 100%;
		height: .6rem;
		justify-content: space-around;
		background: #fff;
		a {
			width: 30%;
			text-align: center;
			line-height: .6rem;
			border: 2px solid transparent;
		}
		.active {
			border-bottom: 2px solid #5CADE7;
		}
	}
	.details_content {
		width: 100%;
		height: 2.4rem;
		flex-direction: column;
		background: #fff;
		margin: .05rem 0 .1rem 0;
		.list_content {
			height: 1.6rem;
			a {
				display: inline-block;
				width: 1.2rem;
				height: 1.2rem;
				padding: .2rem;
			}
			img {
				width: 100%;
				height: 100%;
			}
			.right {
				width: 75%;
				padding: .15rem;
				flex-direction: column;
				p {
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					margin-bottom: .25rem;
				}
			}
		}
		.list_footer {
			padding: .2rem;
			height: .25rem;
			justify-content: space-between;
		}
		.price {
			color: #FF5E45;
		}
	}
	.page_num {
		width: 100%;
		justify-content: space-around;
		align-content: center;
		height: .8rem;
		font-size: .3rem;
		color: #fff;
		line-height: .8rem;
		text-align: center;
		vertical-align: middle;
		a {
			width: 45%;
			height: .6rem;
			color: #fff;
			line-height: .6rem;
			margin: .1rem 0;
			background: #41B0FF;
			border-radius: .15rem;
		}
	}
}

// AuthSuccess
#auth_success {
	margin-top: 1rem;
	flex-direction: column;
	align-items: center;
	font-size: .25rem;
	.auth_avatar {
		width: 100%;
		height: 2.4rem;
		justify-content: center;
		align-items: center;
		background: #fff;
		img {
			height: 1.4rem;
			width: 1.4rem;
			border-radius: .7rem;
		}
	}
	.auth_content {
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #fff;
		p {
			margin: .05rem;
			width: 100%;
		}
		.title {
			display: inline-block;
			width: 40%;
			text-align: right;
		}
		.qrcode {
			text-align: center;
			margin: .25rem;
		}
	}
	.intro {
		margin-top: .2rem;
		padding: .15rem;
		background: #fff;
		p {
			padding: .1rem;
		}
		.intro_title {
			text-align: center;
		}
	}
}

.lightbox {
	.lb-data {
		.lb-details {
			width: 100%;
			text-align: center;
		}
	}
	.lb-nav {
		display: none!important;
	}
}